<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Message:<br>
    ------------
    <h2>Image is not compressed!</h2>
  </body>
</html>
